################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Automation.Common/FileContentIndex/63338ccc-7552-4cda-a6a3-0ca12b5017dc.vsidx
